<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Empresa Empires | Contacto</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>

    <header>
        <!--Seccion activa contacto.html-->
        <nav class="navbar">
        <div class="logo">Mi empresa Empires</div>
        <ul class="menu">
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li class="activo"><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <h1>Contacto</h1>
        <section class="galeria">
            <img src="/assets/image/mapa.jpg" alt="Mapa de Ubicacion" class="mapa">
        </section>
         <p><strong>Direccion:</strong> Las Hortencias 123, Barcelona</p>
         <p><strong>Email:</strong>contacto@miempresaempires.com</p>
         <p><strong>Telefono:</strong>555 123 456</p>
        
    </main>
    <footer>
       <p>Las Hortencias 123, Barcelona</p>
    <p>
        <img src="/assets/logo/instagram.png" alt="Instagram" width="30px"> <a href="#">Instagram</a> |
        <img src="/assets/logo/facebook.png" alt="Facebook" width="20px"><a href="#">Facebook</a> |
        <img src="/assets/logo/linkedin.png" alt="LinkedIn" width="20px"><a href="">LinkedIn</a>
    </p>
    <p>&copy; 2026 Mi Empresa Empires. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>