<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Empresa Empires | Portfolio</title>
    <link rel="stylesheet" href="/css/estilos.css">

</head>
<body>
    <header>
        <!--Seccion activa portfolio.html-->
        <nav class="navbar">
        <div class="logo">Mi empresa Empires</div>
        <ul class="menu">
            <li><a href="/index.html">Inicio</a></li>
            <li class="activo"><a href="portfolio.html">Portfolio</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <!--Ejemplo de trabajos realizados en formato imagenes-->
        <h1>Portfolio</h1>
        <section class="galeria">
            <img src="/assets/image/banderas mundi.jpg" alt="Bandera mundo"> 
            <img src="/assets/image/Desempleo_mundo.png" alt="desempleo mundo">
            <img src="/assets/image/logo_1.jpg" alt="logo 1">
            <img src="/assets/image/logo_2.jpg" alt="logo 2">
            <img src="/assets/image/Political_map.png" alt="mapa politico">
            <img src="/assets/image/Huanchaco.jpg" alt="Huanchaco">

        </section>
    </main>
    <footer>
        <img src="/assets/image/mapa.jpg" alt="Ubicacion" width="200px">
        <p>Las Hortencias 123, Barcelona</p>
    <p>
        <img src="/assets/logo/instagram.png" alt="Instagram" width="40px"><a href="#">Instagram</a> |
        <img src="/assets/logo/facebook.png" alt="Facebook" width="20px"><a href="#">Facebook</a> |
        <img src="/assets/logo/linkedin.png" alt="LinkedIn" width="20px"><a href="">LinkedIn</a>
    </p>
    
    <p>&copy; 2026 Mi Empresa Empires. Todos los derechos reservados.</p>
    </footer>
</body>
</html>