<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Empresa Empires | Presupuesto</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <!--Seccion activa presupuesto.html-->
        <nav class="navbar">
        <div class="logo">Mi empresa Empires</div>
        <ul class="menu">
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li class="activo"><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <h1>Solicita tu presupuesto</h1>
        <form class="Formulario">
            
            <label>Nombre:
                
                <input type="text" required>
            </label>

            <label>Email:
                <input type="email" required>
            </label>

            <label>Telefono:
                <input type="tel" required>
            </label>

            <label>Solicite mas informacion
                <textarea required></textarea>
            </label>

            <label class="checkbox" >
                <input type="checkbox" required >
                Acepto la Politica de Privacidad
            </label>

            <button type="submit">Enviar</button>

        </form>
    </main>
    <footer>
        <p>Las Hortencias 123, Barcelona</p>
    <p>
        <img src="/assets/logo/instagram.png" alt="Instagram" width="30px"> <a href="#">Instagram</a> |
        <img src="/assets/logo/facebook.png" alt="Facebook" width="20px"><a href="#">Facebook</a> |
        <img src="/assets/logo/linkedin.png" alt="LinkedIn" width="20px"><a href="">LinkedIn</a>
    </p>
    <p>&copy; 2026 Mi Empresa Empires. Todos los derechos reservados.</p>
    </footer>
</body>
</html>